.results-sort {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex: 1;
}

.result-details {
  font-family: "Poppins", sans-serif;
  margin-top: 1rem;
  color: #333333;
}

.sort-option {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
  font-family: "Times New Roman", Times, serif;
  font-size: small;
}
