header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 5rem;
  flex: 1;
  padding: 0 1rem 0 1rem;
  min-width: 100%;
  background-color: rgb(215, 185, 185);
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 1.3rem;
  justify-content: space-between;
  align-self: center;
}
.logo {
  object-fit: cover;
}

.btn-icon {
  background-color: transparent;
  border-width: 0px;
}

.icon {
  width: 30px;
}
.navbar {
  margin-right: 1rem;
}

@media screen and (min-width: 767px) {
  header {
    width: fit-content;
  }
}
