<header>
  <div class="container">
    <div class="logo">
      <img src="../../../assets/images/iSchoolConnect-logo.svg" alt="logo" />
    </div>

    <div class="navbar">
      <app-navbar *ngIf="!isMobile; else mobile"></app-navbar>
    </div>
    <ng-template #mobile>
      <app-sidebar></app-sidebar>
      <!-- <button class="btn-icon">
        <img
          src="../../../assets/images/icons8-menu.svg"
          alt="Menu"
          class="icon"
        />
      </button> -->
    </ng-template>
  </div>
</header>
